<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProje.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <style>
      #logout{
          position:fixed;
          bottom:0;
          overflow:hidden;
          width:230px;
      }

    </style>
</head>
<body>
    <div class="sidebar">
        <div class="title">
            <div class="title-in">HRS</div>
        </div>
        <ul>
            <li>
                @{
                if (User.IsInRole("Doktor"))
                {
                        <a asp-controller="Doktor" asp-action="Anasayfa"><i class="fa fa-home" aria-hidden="true"></i>Anasayfa</a>

                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Admin" asp-action="AdminAnasayfa"><i class="fa fa-home" aria-hidden="true"></i>Anasayfa</a>
                    }
                    else{
                    <a asp-controller="Main" asp-action="Anasayfa"><i class="fa fa-home" aria-hidden="true"></i>Anasayfa</a>
                }
                
                }
            </li>
            <li>
                
                <a asp-controller="Randevu" asp-action="RandevuAl"><i class="fa-solid fa-calendar-days"></i>Randevu Al</a>
            </li>
            <li><a asp-controller="Main" asp-action="Ayarlar"><i class="fa fa-cog"></i>Ayarlar</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a asp-controller="Admin" asp-action="AdminSayfa"><i class="fa fa-wrench"></i>Admin Paneli</a>
                </li>
            }
            <li id="logout">
                <a asp-controller="Login" asp-action="CikisYap">Çıkış Yap</a>
            </li>
        
        </ul>

    </div>
    <div class="content">
    <header>
        <nav class="navbar navbar-dark" style="background-color:#42505f">
                <button id="btn1" style="margin-left:4px;" class="btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        
    </div>

 
    
   
        
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
